.hero {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}
form {
    width: 50%;
    margin: 0 auto;
    display: flex;
}
form input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}
form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
