body {
  margin: 0;
  font-family: sans-serif;
}


.header{
  background-color: #282c34;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.header h2{
  color: #fff;
}
.nav{
  display: flex;
  align-items: center;
}
.nav ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav ul li{
  margin-right: 20px;
}
.nav ul li a{
  color: #fff;
  text-decoration: none;
}